@charset "utf-8";
/* --------------------------------------------------- */
/*						OKNO DZIENNIKA				   */
/* --------------------------------------------------- */
body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

div{
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#kontener {
	width: 1240px;
	min-height: 600px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cce8ff;
	text-align: center;
	overflow: hidden;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}

#logo {
	background-color: #1954ab;
	text-align :center;
	width:1240px;
	margin-left :auto;
	margin-right:auto;
	height : 130px;
}

#opis{
	background-color: #cce8ff;
	border: 1px solid #1954ab;
	width : 1238px;
	height : 50px;
	float : left;
}

#nowosc{
  margin-top: 16px;
  margin-left: 60px;
  font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  font-size: 12px;
  color: #05477E;
  font-weight: bold;
  float: left;
}

#spis{
	background-color: #cce8ff;
	border-left: 1px solid #1954ab;
	border-right: 1px solid #1954ab;
	text-align :center;
	width:1239px;
	height: 82px;
}

#czescGlowna{
	border: 1px solid #1954ab;
	background-color: #FFF;
	width : 1238px;
	min-height: 600px;
	clear : left;
	overflow: hidden;
}

#stopka{
	background-color: #1954ab;
	width : 1240px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 30px;
}

p.stopka{
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	margin-top:0px;
	margin-left: 6px;
	padding: 6px;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
}

#zalogowany{
	margin-top: -60px;
	margin-bottom: 60px;
	padding-right: 30px;
	color: #FFF;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
}

#osob {
	margin-left: 185px;
	margin-top: 10px;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	float : left;
}
p.info{
	padding-top: 2px;
	padding-right: 30px;
	text-align: right;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: bold;	
}

p.panel{
	padding-top: 10px;
	padding-left: 180px;
	text-align: left;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;	
}

p.kontrola {
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #F00;
}

#wpisPasswd {
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	text-align: center;
	color: #F00;
}

#wpisPasswdKontrola{
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #F00;
}

#konPasswd {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #F00;
	margin: 10px;
}

#konLoginu {
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #F00;
}

#konDanych {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #F00;
}

h3 {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 10px;
	letter-spacing: -1px;
	color: #01294f;
	margin: 20px 0 20px 0;
	padding: 0 0 12px 0;
	border-bottom: 1px solid #e0e0e0;
}
span {
	
	text-align: left;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #F00;
}
#informacje-5{
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	margin-left: 30px;
	margin-top: 10px;
	width : 480px;
	height : 50px;
}
a {    
 text-decoration: none;
}

/* --------------------------------------------------- */
/*							LINKI					   */
/* --------------------------------------------------- */

a.linki {
	color: #fff;
	text-decoration: none;
	padding: 7px 10px;
	background: #00a9dd;
}
a.linki:hover {
	color: #fff;
	text-decoration: none;
	padding: 7px 10px;
	background: #aaa;
}

/* --------------------------------------------------- */
/*					LEWA I PRAWA STRONA				   */
/* --------------------------------------------------- */

.center {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}
.left-u {
	float: left;
	width: 500px;
	margin: 20px 0px 0px 20px;
}

.right-u {
	float: right;
	width: 650px;
	margin: 20px 20px 0 20px; 
}

/* --------------------------------------------------- */
/*						FORMULARZE					   */
/* --------------------------------------------------- */
form, fieldset {
	margin: 0;
	padding: 0px;
	border: 0;
}
td.dane {
	margin: 5px;
	width: 110px;
	display: block;
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	text-align: right;
	padding: 5px;
}

input.pole {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	color: #111;
	padding: 5px;
	background: #f5f5f5;
	border: 1px solid #ddd;
}

input.pole:focus {
	color: #fff;
	background: #1954ab;
	border: 1px solid #111;
}

input.button {
	font-size: 12px;
	color: #111;
	padding: 7px;
	text-align: center;
	margin: auto;
}

/* --------------------------------------------------- */
/*						TABELA USER 				   */
/* --------------------------------------------------- */
#user-tabela-u
{
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	background: #fff;
	margin: 0px;
	width: 650px;
	border-collapse: collapse;
	text-align: left;
}
#user-tabela-u th
{
	font-size: 12px;
	font-weight: normal;
	color: #039;
	padding: 10px 8px;
	border-bottom: 2px solid #6678b1;
}
#user-tabela-u td
{
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	color: #669;
	padding: 6px 8px;
}
#user-tabela-u tbody tr:hover td
{
	color: #009;
	background: #cce8ff;
}

/* --------------------------------------------------- */
/*						TABELA CENTER 				   */
/* --------------------------------------------------- */
#center-tabela
{
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	background: #fff;
	width: 800px;
	border-collapse: collapse;
}
#center-tabela td
{
	width: 200px;
	height: 30px;
	font-weight: bold;
	color: #669;
	padding: 6px 8px;
}
td.prawy
{
	width: 240px;
	font-weight: bold;
	color: #669;
	padding: 6px 8px;
	text-align: right;
}
td.lewy
{
	font-weight: bold;
	color: #669;
	padding: 6px 8px;
	text-align: left;
}
td{
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
	font-size: 12px;
	padding: 7px;
}

/* --------------------------------------------------- */
/*					CZĘŚĆ GÓRNA MENU 				   */
/* --------------------------------------------------- */

/* reset domyślnych ustawien CSS*/
#menu, #menu ul, #menu ol {
	list-style-type:none;
	padding:0;
	margin:0;
}
/* wygląd części głównej - OL */
#menu {
	background-color:#FFF;
	font-size:13px;
	line-height:30px;
	text-align:center;
}

/* wygląd wszystkich elementów - a - w elemencie - ol */
#menu a {
	display:block;
	text-decoration:none;
	color:#fff;
	font-weight: bold;
	padding:0 5px;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
#menu > li {
	float:left;
	width:154px;
	margin-left:1px;
	background-color:#1954ab;
	height:30px;
}

/* wygląd elementu - li - pierwszego dziecka elementu - ol */
#menu > li:first-child {
	margin-left:0;
}

/* tło - li */
#menu > li:hover {
	background-color: #00a9dd;
}

/* kolor czcionki - li*/
#menu > li:hover > a {
	color: #F0FCFF;
}

/* wygląd elementu - ul - dziecka elementu - li */
#menu > li:hover > ul {
	display:block;
}

/* --------------------------------------------------- */
/*			CZĘŚĆ ROZWIJANA MENU-POZIOM-1 			   */
/* --------------------------------------------------- */

/* wygląd głównych rozwijanych elementów - ul */
#menu > li > ul {
	text-align:left;
	display:none;
}

/* wygląd elementu - li - w części rozwijanej */
#menu > li > ul > li {
	position:relative;
	background-color: #1954ab;
}

/* wygląd elementu - a - w części rozwijanej */
#menu > li > ul > li > a {
	border-top:1px solid #FFF;
}

/* wygląd elementu - li - w części rozwijanej */
#menu > li > ul > li:hover {
	background-color:#00a9dd;
}

/* wygląd elementu - a - w części rozwijanej */
#menu > li > ul > li:hover > a {
	color:#fff;
}

/* --------------------------------------------------- */
/*			CZĘŚĆ ROZWIJANA MENU-POZIOM-2 			   */
/* --------------------------------------------------- */

/* wygląd głównego elementu - ol - w drugiej części rozwijanej */
#menu > li > ul > li > ol {
	display:none;
	width:100%;
	position:absolute;
	left:100%;
	margin-top:-20px;
}

/* wygląd głównego elementu - ol - w drugiej części rozwijanej*/
#menu > li > ul > li:hover > ol {
	display:block;
}

/* wygląd elementów - li - w drugiej części rozwijanej */
#menu > li > ul > li > ol > li {
	background-color:#1954ab;
}

/* wygląd elementów - a - w drugiej części rozwijanej */
#menu > li > ul > li > ol > li > a {
	border-top:1px solid #FFF;
	border-left:1px solid #FFF;
}

/* wygląd elementu - a - w drugiej części rozwijanej*/
#menu > li > ul > li > ol > li > a:hover {
	background-color:#aaa;
	color: #fff;
}

/* --------------------------------------------------- */
/*				ELEMENTY WSPÓLNE MENU				   */
/* --------------------------------------------------- */

/* strzałka w prawo */
#menu .dol {
	background-image:url('../image/down.png');
	background-repeat:no-repeat;
	background-position:98% center;
}

/* strzałka w dół */
#menu .prawo {
	background-image:url('../image/right.png');
	background-repeat:no-repeat;
	background-position:98% center;
}

/* --------------------------------------------------- */
/*					PANEL STARTOWY					   */
/* --------------------------------------------------- */

.linia {
	height: 1px;
	width: 910px;
	background-color:#CCC;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}
.linia-2 {
	height: 1px;
	width: 910px;
	background-color:#CCC;
	margin-top:-5px;
	margin-bottom:-10px;
	margin-left:auto;
	margin-right:auto;
}
#panel {
	margin: 30px auto auto 320px;
	width:1000px;
	background-color: transparent;
}
#panel .linka {
	border:0px solid #FFF;
	float:left;
	width:94px;
	margin-left:0px;
	margin-right:20px;
	margin-top:0px;
	margin-bottom:10px;
	padding:15px 20px 15px 20px;
}
#panel .icona {
	padding:0px 0px 5px 0px;
}

#panel .info {
	text-align:center;
	font-weight:bold;
	color:#069;
	width:134px;
	margin-left:-20px;
}
#panel .linka:hover {
	
	background: -ms-linear-gradient(-90deg,#fff,#CCE8FF);
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#CCE8FF));
	background: -moz-linear-gradient(-90deg,#fff,#CCE8FF);

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	
	cursor:pointer;
}
#panel .linka:hover .info a {
	color:#000;
	text-decoration:none;
}
#panel a:link {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  	font-size: 12px;
	color: #1954AB;
	text-decoration: none;
}
#panel a:visited {
	color: #1954AB;
	text-decoration: none;
}
#panel a:active {
	color: #900;
	text-decoration: none;
}
#panel .odstep {
	clear:both;
	height:1px;
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px
}

#panel-dol {
	margin: 30px auto auto 400px;
	width:1000px;
	background-color: transparent;
}
#panel-dol .linka {
	border:0px solid #FFF;
	float:left;
	width:94px;
	margin-left:0px;
	margin-right:20px;
	margin-top:0px;
	margin-bottom:10px;
	padding:15px 20px 15px 20px;
}
#panel-dol .icona {
	padding:0px 0px 5px 0px;
}

#panel-dol .info {
	text-align:center;
	font-weight:bold;
	color:#069;
	width:134px;
	margin-left:-20px;
}
#panel-dol .linka:hover {
	background: -ms-linear-gradient(-90deg,#fff,#CCE8FF);
	background: -webkit-gradient(linear,0% 0,0% 100%,from(#fff),to(#CCE8FF));
	background: -moz-linear-gradient(-90deg,#fff,#CCE8FF);

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.3);
	box-shadow:0 1px 3px rgba(0,0,0,0.3);
	
	cursor:pointer;
}
#panel-dol .linka:hover .info a {
	color:#000;
	text-decoration:none;
}
#panel-dol a:link {
	font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
  	font-size: 12px;
	color: #1954AB;
	text-decoration: none;
}
#panel-dol a:visited {
	color: #1954AB;
	text-decoration: none;
}
#panel-dol a:active {
	color: #900;
	text-decoration: none;
}
#panel-dol .odstep {
	clear:both;
	height:1px;
	background-color:#fff;
	margin-top:10px;
	margin-bottom:10px
}